# This is a sample .env file for use in local development.

# 1. Create a '.env' file in the root of this service folder
# and update the environment variables to match the
# necessary config 

# The Rails master key for your Rails application.
RAILS_MASTER_KEY=your_rails_master_key

##########
# Section: AWS CREDENTIALS
#############

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

##########
# Section: AWS COGNITO
#############

AWS_REGION=
USER_POOL_ID=
APP_CLIENT_ID=
APP_SECRET_KEY=

##########
# Section: s3 Bucket
#############

s3_USER_BUCKET_NAME=
s3_USER_BUCKET_URL=

##########
# Section: Application Environment
#############

APP_SETTINGS=

##########
# Section: Local DB connection
#############

DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=

